@use 'styles/abstracts' as *;

.container {
  padding: 0 9.3125rem;

  @include respond(tab-land) {
    padding: 0 4.375rem;
  }

  @include respond(tab-port) {
    padding: 0 3.125rem;
  }

  @include respond(phone) {
    padding: 0 0.625rem;
  }
}
