@use 'styles/abstracts/variables' as *;

.task {
  border: 0.1rem solid $border-color;
  padding: 1.5rem;
  background: $color-white;

  &__details {
    font-weight: 700;
    font-size: 24px;
    word-wrap: break-word;
    &--completed {
      color: $color-aqua;
      text-decoration: line-through;
    }
  }

  &__created {
    margin-top: 0.9rem;
    color: $color-gray;
  }

  &__input {
    width: 100%;
    border: 0.3rem solid $color-border-active;
    min-height: 8rem;
    font-size: $default-font;
    &:focus {
      outline: none;
    }
  }

  &__footer {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;

    &__left {
      button {
        margin-left: 2.6rem;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}
