@use 'styles/abstracts/variables' as *;
.task {
  border: 0.1rem solid $border-color;
  padding: 1.5rem;

  &__input {
    width: 100%;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
