@use 'styles/abstracts' as *;

.toast {
  height: 3.4375rem;
  padding: 0.625rem;
  width: 30%;
  margin: auto;
  border-radius: 0.3125rem;
  font-size: 1.125rem;
  color: $color-white;
  @include flexCenter;
}

.toast--success {
  background: $color-aqua;
}

.toast--danger {
  background: $color-danger;
}
