.toast {
  height: 4rem;
  padding: 1rem;
}

.toast--success {
  background: rgb(42, 57, 145);
}

.toast--danger {
  background: red;
}
.toast {
  height: 4rem;
  padding: 1rem;
}

.toast--success {
  background: rgb(42, 57, 145);
}

.toast--danger {
  background: red;
}
