$default-font: 1.6rem;

$header-font: 3rem;
$task-header-font: 2.4rem;
$created-at-font: 2.4rem;

$header-font: 3rem;
$task-header-font: 2.4rem;
$created-at-font: 2.4rem;

// colors
$border-color: #dde2ff;
$text-color: #32394b;
$color-primary: #7a8dfd;
$color-gray: #bbbdd0;
$color-dark: #32394b;
$color-aqua: #0bc375;
$color-white: #ffffff;
$color-danger: #e85f5f;
$color-bg: #f8f9ff;
$color-border-active: #d1d8ff;
